/*!*.root {*!*/
/*!*    -fx-background-color: white;*!*/
/*!*    -fx-text-fill: black;*!*/
/*!*}*!*/

/*.root {*/
/*    -fx-background-color: #f5f5f5;*/
/*    -fx-text-fill: #222222;  !* Default text color *!*/
/*    -fx-font-family: "Segoe UI", sans-serif;*/
/*}*/

/*!*.button {*!*/
/*!*    -fx-background-color: #e0e0e0;*!*/
/*!*    -fx-text-fill: black;*!*/
/*!*}*!*/

/*.button {*/
/*    -fx-background-color: #3c3f41;*/
/*    -fx-text-fill: #f5f5f5;*/
/*    !*-fx-border-color: #555555;*!*/
/*    -fx-border-radius: 5;*/
/*    -fx-background-radius: 5;*/
/*    -fx-padding: 5 15 5 15;*/
/*    -fx-font-size: 14px;*/
/*    -fx-cursor: hand;*/

/*    !* Smooth hover effect *!*/
/*    -fx-effect: innershadow(two-pass-box, rgba(0,0,0,0), 0, 0, 0, 0);*/
/*    -fx-transition: all 0.2s ease-in-out;*/
/*}*/

/*.trainMap{*/
/*    -fx-background-color: #b5e4a3;*/
/*}*/

/*.sidePanel, .dbBg{*/
/*    -fx-background-color: #4e4646;*/
/*}*/

/*.button:hover {*/
/*    -fx-background-color: #4b4f51;*/
/*    -fx-text-fill: #ffffff;*/
/*}*/

/*.ver{*/
/*    -fx-fill:#3c3f41;*/
/*}*/

/*.textAbout{*/
/*    -fx-fill: #6214ff ;*/
/*}*/

/*.labelDarkBG{*/
/*    -fx-text-fill: #000000;*/
/*}*/

/*.labelText {*/
/*    -fx-text-fill: #dfdede;*/
/*}*/

/*.slide-button {*/
/*    -fx-background-color: #ccc;*/
/*    -fx-background-radius: 20;*/
/*    -fx-text-fill: transparent;*/
/*}*/

/*.slide-button:selected {*/
/*    -fx-background-color: #4CAF50;*/
/*}*/

/*!* Thumb styling using a pseudo-class *!*/
/*.slide-button .thumb {*/
/*    -fx-background-color: white;*/
/*    -fx-background-radius: 20;*/
/*    -fx-padding: 5;*/
/*    -fx-translate-x: 0;*/
/*    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 2, 0, 0, 2);*/
/*}*/

/*.slide-button:selected .thumb {*/
/*    -fx-translate-x: 60; !* move thumb right when selected *!*/
/*}*/


/*.error{*/
/*    -fx-text-fill: red;*/
/*}*/

/*.textDarkBG{*/
/*    -fx-fill: white;*/
/*}*/